html {
  position: relative;
  min-height: 100%;
  box-sizing: border-box;
}

body {
  position: relative;
  color: $color-text-primary;
  font-size: map-get($font-sizes, bs);
  font-family: $font-primary;
  overflow-x: hidden;
  outline: none;
  word-wrap: break-word;
  font-weight: 400;
}

*, *:before, *:after {
  outline: none;
  box-sizing: inherit;
}

main {
  @include position($pos: relative);
  min-height: calc(100vh - 161px);
}

a {
  transition: opacity $trns-duration-xs;

  &:hover {
    color: $color-base;
    opacity: $opacity-primary;
  }

  &.active {
    font-family: $font-bold;
    color: $color-base;
    border-bottom: 2px solid $color-base;
    
    &:hover {
      opacity: $opacity-default
    }
  }
}

.app {
  &.dark {
    background: $dark-bg-primary;
    color: $color-light;

    a {    
      &:hover {
        color: $dark-color-base;
        opacity: $opacity-secondary;
      }
    
      &.active {
        color: $dark-color-base;
        border-bottom: 2px solid $dark-color-base;
      }
    }

    section {
      h3 {
        color: $dark-color-secondary;
      }
    }

    header {      
      nav {
        & > ul {
          color: $dark-color-text-secondary;
          background: $dark-bg-primary;
        }

        & > a {
          &.nav, &.close {
            color: $dark-color-text-secondary;
          }
        }
      }

      .logo-link {
        color: $dark-color-base;
      }
    }

    footer {
      color: $dark-color-text-secondary;

      ul {
        svg {
          &.linkedin {
            color: map-get($dark-color-socials, linkedin);
          }
    
          &.github {
            color: map-get($dark-color-socials, github);
          }
        }
      }
    }

    section.home {
      h1, p {
        color: $dark-color-text-secondary;
      }

      .common-text {
        color: $dark-color-base;
      }

      .css-9y1egq-MuiButtonBase-root-MuiButton-root {
        color: $dark-color-base;
        border-color: $dark-color-base;
      }
    }

    section.about {
      .list-about {
        color: $dark-color-base;
    
        p {
          color: $dark-color-text-primary;
        }
    
        & > li {
          color: $dark-color-text-secondary;
        }
      }
    }

    section.work {
      .title-link {
        color: $dark-color-base;
      }
    
      .works-list {
        color: $dark-color-text-secondary;
      }
    }

    section.contact {
      .socials {    
        & > li {
          color: $dark-color-text-secondary;
    
          a {
            &:hover {
              color: $dark-color-text-secondary;
              opacity: $opacity-primary;
            }
          }
    
          svg {    
            &.email {
              color: map-get($dark-color-socials, email);
            }
    
            &.linkedin {
              color: map-get($dark-color-socials, linkedin);
            }
    
            &.github {
              color: map-get($dark-color-socials, github);
            }
    
            &.skype {
              color: map-get($dark-color-socials, skype);
            }
    
            &.resume {
              color: map-get($dark-color-socials, resume);
            }
          }
        }
      }
    }
  }
}
