html {
  position: relative;
  min-height: 100%;
  box-sizing: border-box;
}

body {
  position: relative;
  color: $color-text-primary;
  font-size: map-get($font-sizes, bs);
  font-family: $font-primary;
  overflow-x: hidden;
  outline: none;
  word-wrap: break-word;
  font-weight: 400;
}

*, *:before, *:after {
  outline: none;
  box-sizing: inherit;
}

main {
  @include position($pos: relative);
  min-height: calc(100vh - 128px);
}

a {
  transition: opacity $trns-duration-xs;

  &:hover {
    color: $color-base;
    opacity: $opacity-primary;
  }

  &.active {
    font-family: $font-bold;
    color: $color-base;
    border-bottom: 2px solid $color-base;
    &:hover {
      opacity: $opacity-default
    }
  }
}
