@media (max-width: map-get($resolutions, sm)) {
  header {
    & > div {
      margin-left: 20px;
      margin-right: 20px;
    }

    nav {
      &.show {
        & > ul {
          transform: translateY(0);
        }
  
        & > a {
          &.close {
            display: block;
          }
          &.nav {
            display: none;
          }
        }
      }

      & > ul {
        @include position(0, null, null, 0, fixed);
        background: $color-light;
        z-index: $z-index-mid;
        width: 100%;
        height: 100%;
        padding-top: 200px;
        flex-direction: column;
        align-items: center;
        font-size: 22px;
        text-align: center;
        transition: transform $trns-duration ease-out;
        transform: translateY(100%) rotate(-90deg);
        & > li {
          margin-left: 0;
          padding-right: 0;
          margin-bottom: 20px;
          display: block;
          width: 100%;

          &:last-of-type {
            .MuiFormGroup-root {
              @include center('horizontal');
            }
          }
        }
      }
      
      & > a {
        &.nav {
          display: block;
        }
      }
    }
  }
}

@media (max-width: map-get($resolutions, xs)) {
  header {
    & > div {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}
