// Main container
.container {
    width: 100%;
    max-width: $cont-width;
    padding-left: $cont-padding;
    padding-right: $cont-padding;
    margin-left: auto;
    margin-right: auto;
}

.sect-cont-wrap {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
}

// Section container
.sect-cont {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    overflow: hidden;
}

// Container for inner sections
.inner-cont {
    width: 100%;
    padding-left: 105px;
    padding-right: 105px;
}

// item align to center
.centered-axis-xy {
    @include position(50%, null, null, 50%);
    transform: translate(-50%, -50%);
}

.dsp-flex {
    @include dsp-flex();
}

.space-between {
    @include dsp-flex(null, space-between);
}

// Elements horiz align to center with flexbox
.flex-center {
    @include dsp-flex(null, center)
}

// Elements vert. align to center with flexbox
.alg-center {
    @include dsp-flex(null, null, center);
}

// Flex direction column
.flx-dir-col {
    @include dsp-flex(wrap, null, null, column);
}

// Flex-wrap
.flx-wrap {
    @include dsp-flex(wrap);
}

// Floats
@each $key,$val in $resolutions {
  @media (min-width: $val) {
    // Alignment
    .float-#{$key}-left {
        float: left;
    }
    .float#{$key}-right {
        float: right;
    }
  }
}

// Float fixes
.clear-after {
  @include clear-after;
}
