section.contact {
  .socials {
    text-align: center;

    & > li {
      font-size: 20px;
      font-family: $font-primary;
      margin-bottom: 15px;
      color: $color-text-secondary;

      a {
        @include dsp-flex($just-cont: center, $aln-itm: center);
        &:hover {
          color: $color-text-secondary;
          opacity: $opacity-primary;
        }
      }

      span {
        margin-left: 10px;
      }

      svg {
        font-size: 24px;

        &.email {
          color: map-get($color-socials, email);
        }

        &.linkedin {
          color: map-get($color-socials, linkedin);
        }

        &.github {
          color: map-get($color-socials, github);
        }

        &.skype {
          color: map-get($color-socials, skype);
        }

        &.resume {
          color: map-get($color-socials, resume);
        }
      }
    }
  }
}
