section.work {
  .title-link {
    font-family: $font-secondary;
    font-weight: 400;
    font-size: 18px;
    color: $color-base;
    &:hover {
      opacity: $opacity-default;
    }
  }

  .works-list {
    color: $color-text-secondary;
    max-width: 70%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: $font-primary;
    font-size: 16px;
    line-height: 20px;
    & > li {
      margin-bottom: 20px;
    }

    img {
      width: 50px;
      height: 45px;
      padding: 5px;
      border-radius: $br-default;
    }

    p {
      font-size: 16px;
      padding-left: 62px;
    }
  }
}
