footer {
  ul {
    font-size: 22px;

    svg {
      &.linkedin {
        color: map-get($color-socials, linkedin);
      }

      &.github {
        color: map-get($color-socials, github);
      }
    }
  }
  
}
