header {
  nav {
    & > ul {
      font-size: 18px;
    }

    & > a {
      display: none;
      font-size: 24px;

      &:hover {
        opacity: 1;
      }
    }
  }

  .logo-link {
    color: $color-base;
    font-size: $font-bs;
    font-family: $font-bold;

    &:hover {
      opacity: $opacity-default;
    }
  }

  .logo {
    width: 50px;
    height: 50px;
  }
}
