// Color Usage ---------------------------
$color-light: #fff;
$color-dark: #000;
$color-base: #D30001;
$color-secondary: rgba($color-base, .7);

// Text Base Colors ---------------------------
$color-text-primary: #333;
$color-text-secondary: #555;

$color-socials: (
  email: #459d23,
  linkedin: #0077B5,
  github: #333,
  skype: #00aff0,
  resume: #D67C05
) !default;
