// Border Radiuses ---------------------
$br-default: 4px;
$br-none: 0;

// Transitions -------------------------
$trns-duration: .3s;
$trns-duration-xs: .1s;

// Opacities ---------------------------
$opacity-none: 0;
$opacity-primary: .7;
$opacity-secondary: .9;
$opacity-default: 1;

// Z-index -----------------------------
$z-index-min: 0;
$z-index-mid: 10;
$z-index-max: 100;
