@media (max-width: map-get($resolutions, md)) {
}

@media (max-width: map-get($resolutions, sm)) {
  section.about {
    & > div {
      @include dsp-flex($dir: column);
    }

    .section-left {
      margin-left: 20px;
      max-width: 95%;
    }
  
    .section-right {
      margin-left: 20px;
    }
  }
}

@media (max-width: map-get($resolutions, xs)) {
  section.about {

    .section-left {
      margin-left: 15px;
      max-width: 100%;
    }
  
    .section-right {
      margin-left: 15px;
    }
  }
}
