// Screen resolutions
$resolutions: (
  xxs: $screen-xxs,
  xs: $screen-xs,
  sm: $screen-sm,
  md: $screen-md,
  lg: $screen-lg
  // xl: $screen-xl
) !default;

// Text font sizes
$font-sizes: (
  bs: $font-bs,
  lg: $font-lg, 
  md: $font-md,
  sm: $font-sm
) !default;

// Multiply size values for all devices
$mlp-values: (
  lg: $mlp-lg, 
  md: $mlp-md, 
  sm: $mlp-sm,
  xs:  $mlp-xs
) !default;

$spaces: (
  1: 5px,
  2: 10px,
  3: 15px,
  4: 20px,
  5: 25px,
  6: 30px,
  7: 35px,
  8: 40px,
  9: 45px,
  10: 50px
) !default;

$grid-cols-count: 12;
$grid-spacing: 20px;
$grid-spacing-lg: 60px;
